<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="end" (click)="fecharModal()">Fechar</ion-button>
    <ion-title>{{atualizar ? 'Atualizar Mecânico' : 'Novo Mecânico'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form #f="ngForm" (ngSubmit)="enviando(f)">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
      <ion-input [readonly]="visualizar" [(ngModel)]="dados.nome" name="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Qualificações</ion-label>
      <ion-input [(ngModel)]="dados.qualificacao" name="qualificacao" placeholder="Descreva suas qualificacões"></ion-input>
      </ion-item> <ion-item>
        <ion-label position="floating">Rua</ion-label>
      <ion-input [(ngModel)]="dados.rua" name="rua"></ion-input>
      </ion-item> <ion-item>
        <ion-label position="floating">Numero</ion-label>
      <ion-input [(ngModel)]="dados.numero" name="numero"></ion-input>
      </ion-item> <ion-item>
        <ion-label position="floating">Bairro</ion-label>
      <ion-input [(ngModel)]="dados.bairro" name="bairro"></ion-input>
      </ion-item> <ion-item>
        <ion-label position="floating">Cidade</ion-label>
      <ion-input [(ngModel)]="dados.cidade" name="cidade"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
      <ion-input [(ngModel)]="dados.telefone" name="telefone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Localização</ion-label>
      <ion-input [(ngModel)]="dados.localizacao" name="localizacao"></ion-input>
      </ion-item>
      <ion-button fill="outline" expand="block" type="submit">{{atualizar ? 'Atualizar mecânico' : 'Cadastrar mecânico'}}</ion-button>
    </form>
</ion-content>
